body{
    margin:0;
}
.header{
    overflow:  hidden;
    background-color: grey;
    padding: 20px 10px;
  }
.header a{
    float:left;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.header-right{
    float: right;
}