.container{
    background-image: url("https://images.ctfassets.net/nj2caiz7hkjw/5SaV7GckKc26QoKiKAgway/248d97efbae06ae76214babb3de19f4c/my-web-developer-career-story.jpg");
    height: 100vh; 
}
.bio{
    position: relative;
    text-align: justify;
    margin: auto;
    width: 50%;
    line-height: 1.6;
    font-size: 20px;
    color: grey;;
}
body{
    margin:0;
   
}

.header{
    overflow:  hidden;
    padding: 20px 10px;
    
   }
.header a{
    display: block;
    float:left;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: grey;
}
.header-right{
    float: right;
}
.left-gap{
    margin-left : 10px;
}
.gap{
   
    margin:0;
    padding: 0;
}